.Navbar {
    text-align: center;
    background-color: #282c34;
}

.background {
    background-color: #282c34;
    color: white;
    height: 100vh;
}

.wrapper {
    padding: 20px 40px;
}

.btn {
    background-color: #4dc0d1;
    border-radius: 10px;
    color: white;
    font-size: 1.5vw;
    margin: 10px 8px;
}

.nav-links {
    display: flex;
    justify-content: center;
}

.calendar-icon {
    color: #4dc0d1;
    font-size: 45vh;
    margin-top: 11vh;
    animation: breathing 5s ease-out infinite normal;
}

@keyframes breathing {
    0% {
        transform: scale(0.9);
    }

    25% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.9);
    }
}
